HTML, BODY { height: 100%; }
* { margin: 0; padding: 0; }

BODY { font: normal 1.2em/1.5 Helvetica, Arial, sans-serif; }
a:visited { color: #000; }
a { color: #000; }
ul { list-style: none; }
.clear-fix { clear: both; }

.info    { position: absolute; border-left: 1px solid gray; padding-left: 30px; top: 50%; left: 50%; margin: -70px 0 0 -175px; width: 350px; }
.info dt { float: left; width: 100px; color: #888; }

.nav   { float: left; margin: 10px; font-size: 19px; }
.nav a { float: left; margin-right: 10px; }

.cv          { font: 15px Arial, Verdana, Helvetica, sans-serif; float: left; }
.cv li       { line-height: 22px; }
.cv .section { margin: 10px; }
.cv .inner   { margin: 20px; }
.cv h1       { margin: 10px; font-size: 19px; }
.cv h2       { font-size: 15px; }
.cv dl       { line-height: 21px; margin: 20px; }
.cv dd       { white-space: nowrap; }
.cv dt       { float: left; width: 130px; }
.cv p        { line-height: 20px; }
.cv table    { border-collapse: collapse; }
.cv table td { padding: 5px;  }

.skills td { border: 1px solid #000; }