HTML, BODY { height: 100%; }
* { margin: 0; padding: 0; }

BODY { font: normal 1.2em/1.5 Helvetica, Arial, sans-serif; }
a:visited { color: #000; }
a { color: #000; }
ul { list-style: none; }
.clear-fix { clear: both; }

.b-info    { position: absolute; border-left: 1px solid gray; padding-left: 30px; top: 50%; left: 50%; margin: -70px 0 0 -175px; width: 350px; }
.b-info dt { float: left; width: 100px; color: #888; }

.b-nav   { float: left; margin: 10px; font-size: 19px; }
.b-nav a { float: left; margin-right: 10px; }

.b-cv            { font: 15px Arial, Verdana, Helvetica, sans-serif; float: left; }
.b-cv li         { line-height: 22px; }
.b-cv .b-section { margin: 10px; }
.b-cv .b-inner   { margin: 20px; }
.b-cv h1         { margin: 10px; font-size: 19px; }
.b-cv h2         { font-size: 15px; }
.b-cv dl         { line-height: 21px; margin: 20px; }
.b-cv dd         { white-space: nowrap; }
.b-cv dt         { float: left; width: 130px; }
.b-cv p          { line-height: 20px; }
.b-cv table      { border-collapse: collapse; }
.b-cv table td   { padding: 5px;  }

.b-skills__primary td { border: 1px solid #000; }
.b-skills__secondary { margin-top: 40px; }

.b-code                   { font-size: 15px; float: left; }
.b-code h2                { font-size: 19px; margin-bottom: 10px; }
.b-code .b-section        { margin: 10px; }
.b-code .b-section__item  { margin-bottom: 20px; padding-left: 10px; }
.b-code .b-section__list  { margin-left: 10px; }
.b-code .b-section__links { margin: 10px 0; }

.b-section__item dl { float: left; }
.b-section__item dt { padding-right: 10px; float: left; border-right: 3px solid #999; }
.b-section__item dd { margin-left: 10px; float: left; }
.b-description      { width: 500px; margin-top: 10px; }

.b-code a:visited,
.b-code a { color: blue; }