.port
    &__github-link
        display inline-block
        margin-bottom 10px
        position relative

    &__github
        position absolute
        right -40px
        top 5px

    &__wrapper
        position relative
        min-width 900px
        overflow hidden

    &__list
        position relative
        margin 0 25px
        opacity 0
        transform translateY(40px)
        transition transform 0.3s, opacity 0.2s
        
    &__list_visible
        transform translateY(0)
        opacity 1

    &__title
        font-family 'LeagueGothicRegular', Arial, Helvetica, sans-serif
        text-transform uppercase
        font-size 36px
        color #222
        display inline-block   
        font-weight normal     

    &__item
        display inline-block
        margin 10px 5px
        padding 15px
        width 330px
        background white
        border-radius 4px
        border 1px #DDD solid
        position relative

    &_col2
        width 705px

    &_col2 &__img
        width 695px

    &__item:before, &__item:after
        content ""
        position absolute
        bottom 18px
        width 80%
        height 20%
        max-width 300px
        z-index -2
        box-shadow 0 15px 10px rgba(0, 0, 0, 0.7)

    &__item:before
        left 10px
        transform rotate(-2deg)   

    &__item:after
        right 10px
        transform rotate(2deg)   

    &__img
        display block
        width 320px
        transition all .2s ease-out

    &__link
        overflow hidden
        position relative
        border 5px #DDD solid
        margin 5px 0
        display inline-block
        text-decoration none
        transition all .2s ease-out

    &__to
        display block
        position absolute
        width 100%
        transform translateY(0)
        text-align center
        font-size 15px
        text-indent 10px
        background #111
        color #FFF
        font-family Helvetica, sans-serif
        line-height 35px
        height 35px
        transition transform .3s, background .3s

    &__link:hover
        border-color #9DB281

    &__link:hover &__img
        transform translateY(-10px)

    &__link:hover &__to
        transform translateY(-35px)

    &_pet &__link:hover
        border-color #47bfa2

    &_pet &__link:hover &__to
        background #173a32
