* {
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.lt-ie8 .clearfix {
    zoom: 1;
}