::-webkit-scrollbar
    margin-right 5px
    background-color #ddd
    width 15px

::-webkit-scrollbar-track
    box-shadow 0 0 2px #ccc

::-webkit-scrollbar-thumb
    border 1px #eee solid
    border-radius 15px
    background #777
    box-shadow 0 0 8px #555 inset
    transition all .3s ease-out

::-webkit-scrollbar-thumb:window-inactive
    background #bbb
    box-shadow 0 0 8px #999 inset

::-webkit-scrollbar-thumb:hover
    background #999
