@import 'nib'

.logo_wrap
    position relative
    width 100%
    height 135px
    overflow hidden

.wavewrapper
    height 38px
    overflow hidden
    position absolute
    bottom 0
    width 100%
    animation waves 5s ease-in-out infinite

.waves
    width 150%
    height 40px
    background url(/assets/img/waves.png) repeat-x
    animation waves-linear 4s linear infinite

.ship
    position absolute
    left 50%
    top 24px
    width 102px
    height 106px
    margin-left -51px
    background url(/assets/img/ship3.png) no-repeat scroll 0 -105px transparent
    animation ship 5s ease-in-out infinite
    cursor pointer
    z-index 9999

 @keyframes waves
    0%
        transform translate3d(0, 0, 0)
    25%
        transform translate3d(0, 10px, 0)
    50%
        transform translate3d(0, 0, 0)
    75%
        transform translate3d(0, 10px, 0)
    100%
        transform translate3d(0, 0, 0)

 @keyframes waves-linear
    0%
        transform translate3d(0, 0, 0)
    100%
        transform translate3d(-56px, 0, 0)

 @keyframes ship
    0%
        transform rotate(0deg)
    25%
        transform translate3d(0, 10px, 0) rotate(-10deg)
    50%
        transform translate3d(0, 0, 0) rotate(0)
    75%
        transform translate3d(0, 10px, 0) rotate(10deg)
    100%
        transform translate3d(0, 0, 0) rotate(0deg)