<div class="cube">
    <div class="cube__item cube__item_bottom">
        <img src="assets/img/face/03.jpg" alt="" width="100" height="100">
    </div>
    <div class="cube__item cube__item_right">
        <img src="assets/img/face/05.jpg" alt="" width="100" height="100">
    </div>
    <div class="cube__item cube__item_back">
        <img src="assets/img/face/06.jpg" alt="" width="100" height="100">
    </div>
    <div class="cube__item cube__item_top">
        <img src="assets/img/face/02.jpg" alt="" width="100" height="100">
    </div>
    <div class="cube__item cube__item_left">
        <img src="assets/img/face/04.jpg" alt="" width="100" height="100">
    </div>
    <div class="cube__item cube__item_front">
        <img src="assets/img/face/01.jpg" alt="" width="100" height="100">
    </div>
</div>
