<div class="maiordom">

    <section class="letter m">
        <div class="pixel" style="left: 0; top: 0;"></div>
        <div class="pixel" style="left: 0; top: 15px;"></div>
        <div class="pixel" style="left: 0; top: 30px;"></div>
        <div class="pixel" style="left: 0; top: 45px;"></div>
        <div class="pixel" style="left: 0; top: 60px;"></div>

        <div class="pixel" style="left: 15px; top: 0;"></div>
        <div class="pixel" style="left: 30px; top: 15px;"></div>
        <div class="pixel" style="left: 45px; top: 0;"></div>

        <div class="pixel" style="left: 60px; top: 0;"></div>
        <div class="pixel" style="left: 60px; top: 15px;"></div>
        <div class="pixel" style="left: 60px; top: 30px;"></div>
        <div class="pixel" style="left: 60px; top: 45px;"></div>
        <div class="pixel" style="left: 60px; top: 60px;"></div>
    </section>

    <section class="letter a" style="left: 90px;">
        <div class="pixel"></div>
        <div class="pixel" style="top: 15px;"></div>
        <div class="pixel" style="top: 30px;"></div>
        <div class="pixel" style="top: 45px;"></div>
        <div class="pixel" style="top: 60px;"></div>
        <div class="pixel" style="left: 15px;"></div>
        <div class="pixel" style="left: 15px; top: 45px;"></div>
        <div class="pixel" style="left: 30px;"></div>
        <div class="pixel" style="left: 30px; top: 15px;"></div>
        <div class="pixel" style="left: 30px; top: 30px;"></div>
        <div class="pixel" style="left: 30px; top: 45px;"></div>
        <div class="pixel" style="left: 30px; top: 60px;"></div>
    </section>

    <section class="letter i" style="left: 150px;">
        <div class="pixel"></div>
        <div class="pixel" style="top: 30px;"></div>
        <div class="pixel" style="top: 45px;"></div>
        <div class="pixel" style="top: 60px;"></div>
    </section>

    <section class="letter o" style="left: 150px;">
        <div class="pixel" style="left: 30px;"></div>
        <div class="pixel" style="left: 45px;"></div>
        <div class="pixel" style="left: 60px;"></div>

        <div class="pixel" style="left: 30px; top: 15px;"></div>
        <div class="pixel" style="left: 30px; top: 30px;"></div>
        <div class="pixel" style="left: 30px; top: 45px;"></div>

        <div class="pixel" style="left: 30px; top: 60px;"></div>
        <div class="pixel" style="left: 45px; top: 60px;"></div>
        <div class="pixel" style="left: 60px; top: 60px;"></div>

        <div class="pixel" style="left: 60px; top: 15px;"></div>
        <div class="pixel" style="left: 60px; top: 30px;"></div>
        <div class="pixel" style="left: 60px; top: 45px;"></div>
    </section>

    <section class="letter r" style="left: 240px;">
        <div class="pixel"></div>
        <div class="pixel" style="top: 15px;"></div>
        <div class="pixel" style="top: 30px;"></div>
        <div class="pixel" style="top: 45px;"></div>
        <div class="pixel" style="top: 60px;"></div>
        <div class="pixel" style="left: 15px;"></div>
        <div class="pixel" style="left: 15px; top: 30px;"></div>
        <div class="pixel" style="left: 30px;"></div>
        <div class="pixel" style="left: 30px; top: 15px;"></div>
        <div class="pixel" style="left: 30px; top: 45px;"></div>
        <div class="pixel" style="left: 30px; top: 60px;"></div>
    </section>

    <section class="letter d" style="left: 300px;">
        <div class="pixel"></div>
        <div class="pixel" style="top: 15px;"></div>
        <div class="pixel" style="top: 30px;"></div>
        <div class="pixel" style="top: 45px;"></div>
        <div class="pixel" style="top: 60px;"></div>
        <div class="pixel" style="left: 15px;"></div>
        <div class="pixel" style="left: 15px; top: 60px;"></div>
        <div class="pixel" style="left: 30px;"></div>
        <div class="pixel" style="left: 30px; top: 60px;"></div>
        <div class="pixel" style="left: 45px; top: 15px;"></div>
        <div class="pixel" style="left: 45px; top: 30px;"></div>
        <div class="pixel" style="left: 45px; top: 45px;"></div>
    </section>

    <section class="letter o" style="left: 345px;">
        <div class="pixel" style="left: 30px;"></div>
        <div class="pixel" style="left: 45px;"></div>
        <div class="pixel" style="left: 60px;"></div>

        <div class="pixel" style="left: 30px; top: 15px;"></div>
        <div class="pixel" style="left: 30px; top: 30px;"></div>
        <div class="pixel" style="left: 30px; top: 45px;"></div>

        <div class="pixel" style="left: 30px; top: 60px;"></div>
        <div class="pixel" style="left: 45px; top: 60px;"></div>
        <div class="pixel" style="left: 60px; top: 60px;"></div>

        <div class="pixel" style="left: 60px; top: 15px;"></div>
        <div class="pixel" style="left: 60px; top: 30px;"></div>
        <div class="pixel" style="left: 60px; top: 45px;"></div>
    </section>

    <section class="letter m" style="left: 435px;">
        <div class="pixel"></div>
        <div class="pixel" style="top: 15px;"></div>
        <div class="pixel" style="top: 30px;"></div>
        <div class="pixel" style="top: 45px;"></div>
        <div class="pixel" style="top: 60px;"></div>

        <div class="pixel" style="left: 15px;"></div>
        <div class="pixel" style="left: 30px; top: 15px;"></div>
        <div class="pixel" style="left: 45px;"></div>

        <div class="pixel" style="left: 60px; top: 0;"></div>
        <div class="pixel" style="left: 60px; top: 15px;"></div>
        <div class="pixel" style="left: 60px; top: 30px;"></div>
        <div class="pixel" style="left: 60px; top: 45px;"></div>
        <div class="pixel" style="left: 60px; top: 60px;"></div>
    </section>

</div>
